* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    text-align: center;
}
nav img {
    width: 300px;
}
nav h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
.pay-table {
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 10px 5px 5px green;
}
form {
    text-align: center;
}
input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
}
button {
    padding: 12px;
    border: none;
    border-radius: 5px;
}
.green-b {
    background-color: #52a500;
    color: white;
}
.green-b:hover {
    background-color: #00b700;
}
.red-b {
    color: white;
    background-color: red;
}
.red-b:hover {
    background-color: #db0000;
}
footer {
    text-align: center;
}
footer img {
    width: 50px;
    padding: 10px;
    margin-top: 15px;
}
.menu-btn {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
#fullscreen-btn {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
#fullscreen-btn:hover {
    transform: scale(1.1);
}
.gg {
    margin: 5px;
}
.payment {
    text-align: center;
}
.payment img {
    width: 50px;
}
.payment h1 {
    margin: 10px;
}
.payment p {
    padding: 10px;
    background-color: #e5e5e5;
    font-size: 12px;
    width: 110px;
    border-radius: 20px;
    margin: 0 auto;
}
span {
    color: #a4a4a4;
}
.block {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 340px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

}
.block img {
    border-radius: 50px;
}
.block h4 {
    padding: 10px;
}
.block button {
    color: green;
    background-color: #dffff4;
    border-radius: 20px;
}
